{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}

    <!-- Page Content -->
    <div class="container">
        <p>Actualizar imagen</p>
        {{ form_start(form) }}
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}

            {{ form_label(form.description) }}
            {{ form_widget(form.description) }}

            {{ form_widget(form.path) }}

            {{ form_widget(form.save) }}
        {{ form_end(form) }}
    </div>
    <!-- /.container -->


{% endblock %}


